@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
:root{
    font-family: 'Anonymous Pro' ;
    text-transform: uppercase;
    font-size: 24px;
}
body{
    margin: 0;
}
.msg{
    color: 	#f9a800;
}