@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');
:root{
    font-family: 'Cutive Mono', monospace;
    text-transform: uppercase;
    font-size: 48px;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.msg{
    color: 	#f9a800;
}
.p5Canvas{
    z-index: -2;
    position: absolute;
  /* transform: rotate(-90deg);*/

}
.timesync{
    font-size: 0.3rem; 
    text-align: left; 
    color: grey;
    
}
.seqRow{
    
}
.deltaSlider-container{
    font-size: 0.5rem;
    text-align: center;
}
#deltaSlider{
    width: 99%;
}
/*
@media only screen and (min-width: 600px) {
    console{display: none;}
}*/
console{
    overflow: scroll;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.3rem;
    max-height: 33%;
}