@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');
:root {
    --grey: #707070;
    --cbSize: 14px;
    --cbLabelSize: 10px;
    --cbMargin: 5px;
    /*must be teilbar durch 2*/
    --bordRad: calc(var(--cbSize) /2);
    --bordSize: 1px;
    --boxMarg: 3px;
    font-family: 'Helvetica';
    font-size: 48px;
}

body {
    color: var(--grey);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.msg {
    color: #f9a800;
}

.p5Canvas {
    z-index: -2;
    position: absolute;
    /* transform: rotate(-90deg);*/
}

.timesync {
    font-size: 0.3rem;
    text-align: left;
    color: grey;
}

#my-color {
    transition: all 2s ease-in-out;
    width: var(--cbSize);
    height: var(--cbSize);
    display: flex;
    margin-top: var(--cbMargin);
    margin-bottom: var(--cbMargin);
    margin-left: 3px;
    margin-right: 3px;
    justify-content: center;
    align-items: center;
    border: solid var(--bordSize) var(--grey);
    border-radius: 100%;
    position: relative;
}

#master-controls {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#playButton .label {
    font-size: 0.4rem;
}

#playButton {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: solid var(--bordSize) var(--grey);
    border-radius: var(--bordRad);
    padding: calc(var(--cbSize)*2/3/2);
    margin-bottom: var(--boxMarg);
    margin-left: var(--boxMarg);
    margin-right: var(--boxMarg);
}

#BPM-Stepper {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--boxMarg);
    margin-left: var(--boxMarg);
    margin-right: var(--boxMarg);
}

#BPM-controls {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

#BPM-label {
    display: flex;
    height: 100%;
}

.BPM-control {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
 
   /*  border-radius: 100%;
    border: solid 1px black; */
}
#inc-BPM{
    margin-bottom: 5px;
}
#master-div {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

input[type=checkbox] {
    visibility: hidden;
    display: none;
}

.tone-step-sequencer {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    border: solid var(--bordSize) var(--grey);
    border-radius: var(--bordRad);
    padding: 5px;
    margin-bottom: var(--boxMarg);
    margin-left: var(--boxMarg);
    margin-right: var(--boxMarg);
}

.seqRow {
    display: flex;
}

.cb-container {
    transition: all 0.1s ease-in-out;
    width: var(--cbSize);
    height: var(--cbSize);
    display: flex;
    margin-top: var(--cbMargin);
    margin-bottom: var(--cbMargin);
    margin-left: 3px;
    margin-right: 3px;
    justify-content: center;
    align-items: center;
    border: solid var(--bordSize) var(--grey);
    border-radius: 100%;
    position: relative;
}

/* switch */

.cb-container label {
    position: absolute;
    display: block;
    width: var(--cbLabelSize);
    height: var(--cbLabelSize);
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
}

.cb-span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
}

.cb-span::before {
    content: "";
}

.cb-container input[type=checkbox]:checked+.cb-span {
    border: solid var(--bordSize) var(--grey);
    transition: all .6s cubic-bezier(0.22, 1, 0.36, 1);
}

/*studpid solution for diffrent colors in chekcboxes bc could't find one via js(color can only be set on cheked ones)*/

.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #FBA500;
}

.tone-step-sequencer~.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #2671BC;
}

.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #F15A24;
}

.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #096836;
}

.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #A344A7;
}

.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #00AD99;
}

.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #FBA500;
}

.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #2671BC;
}

.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer~.tone-step-sequencer .cb-container input[type=checkbox]:checked+.cb-span {
    background-color: #F15A24;
}

.deltaSlider-container {
    font-size: 0.5rem;
    text-align: center;
}

#deltaSlider {
    width: 99%;
}

/*
@media only screen and (min-width: 600px) {
    console{display: none;}
}*/

console {
    overflow: scroll;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 0.2rem;
    max-height: 10%;
}